@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@900&family=Press+Start+2P&family=Roboto:wght@400;500;700;900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

html {
  background-color: rgb(0, 0, 0);
}

canvas {
  position: fixed;
  z-index: -1;
}

h1 {
  font-size: 5em;
  padding: 0;
  margin: 0;
  color: white;
}
h3 {
  font-size: 1.8em;
  padding: 0;
  margin: 0;
}

#info {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
}

.navigation a {
  text-decoration: none;
  font-weight: 900;
  font-size: 5vh;
  text-align: right;
  color: rgba(255, 255, 255, 1);
  transition: color 1s ease-in-out;
}

.navigation a:hover {
  color: rgba(255, 0, 0, 0.7);
}
.navigationBlack {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
}

.navigationBlack a {
  text-decoration: none;
  font-weight: 900;
  font-size: 5vh;
  text-align: right;
  color: rgba(0, 0, 0, 1);
  transition: color 1s ease-in-out;
}

.navigationBlack a:hover {
  color: rgba(255, 0, 0, 0.7);
}

.actorsLink {
}

.galleryLink {
}

.influencersLink {
}

.magazineLink {
}

.shopLink {
}

.socialLink {
}

.travelLink {
}

.mediaLink {
}

.gameLink {
}

.homeLink {
  z-index: 100;
  position: fixed;
  top: 1em;
  left: 1em;
  text-decoration: none;
  font-weight: 900;
  font-size: 5vh;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  transition: color 1s ease-in-out;
}

.homeLink:hover {
  color: rgba(255, 0, 0, 0.7);
}
.artistsLink {
  z-index: 100;
  position: fixed;
  top: 1em;
  right: 1em;
  text-decoration: none;
  font-weight: 900;
  font-size: 5vh;
  text-align: right;
  color: rgba(255, 255, 255, 1);
  transition: color 1s ease-in-out;
}

.artistsLink:hover {
  color: rgba(255, 0, 0, 0.7);
}

.sevenPx {
  position: fixed;
  width: 7vw;
  top: 0;
  bottom: 0;
  right: 8vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.sixPx {
  position: fixed;
  width: 6vw;
  top: 0;
  bottom: 0;
  right: 15vw;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.fivePx {
  position: fixed;
  width: 5vw;
  top: 0;
  bottom: 0;
  right: 20vw;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.fourPx {
  position: fixed;
  width: 4vw;
  top: 0;
  bottom: 0;
  right: 24vw;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.threePx {
  position: fixed;
  width: 3vw;
  top: 0;
  bottom: 0;
  right: 27vw;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.twoPx {
  position: fixed;
  width: 2vw;
  top: 0;
  bottom: 0;
  right: 29vw;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.onePx {
  position: fixed;
  width: 5vw;
  top: 0;
  bottom: 0;
  right: 31vw;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.influencersBlur {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.audio {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.root.lil-gui {
  display: none;
}

.title {
  display: none;
}
.rightNavigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  z-index: 100;
}

.rightNavigation a {
  text-decoration: none;
  font-weight: 900;
  font-size: 5vh;
  text-align: right;
  color: rgba(255, 0, 0, 0.7);
  transition: color 1s ease-in-out;
}

.rightNavigation a:hover {
  color: rgba(255, 255, 255, 1);
}
.contactSection {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
}

.contactSection li {
  font-size: 1.5em;
}
.contactItem {
  color: rgb(252, 252, 252);
  transition: color 1s ease-in-out;
  padding: 0.5em;
}
.contactItem:hover {
  color: rgba(255, 0, 0, 0.7);
}
.contactItem a {
  text-decoration: none;
  font-weight: 900;
  font-size: 1.5em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
  transition: color 1s ease-in-out;
}
.contactItem a:hover {
  color: rgba(255, 0, 0, 0.7);
}
